
:root {
  --celebrator-size: 4rem;
  --celebrator-center-x: calc(50vw - 50%);
  --celebrator-center-y: calc(50vh - 50%);
  --celebrator-off-left-x: calc(-1.5 * var(--celebrator-size));
  --celebrator-off-top-y: calc(-1.5 * var(--celebrator-size));
}

.celebrator {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-size: var(--celebrator-size);
  height: var(--celebrator-size);
  left: 0;
  line-height: var(--celebrator-size);
  overflow: visible;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 100;
}

.celebrator.smiley-face::before {
  content: '\1f600';
}

.celebrator.star::before {
  content: '\2b50';
}

.celebrator.party-popper::before {
  content: '\1f389';
}

.celebrator.sad-face::before {
  content: '\1f641';
}

.celebrator.grimacing-face::before {
  content: '\1f62c';
}

.celebrator.crying-face::before {
  content: '\1f622';
}

@keyframes celebrate-left {
  0% {
    opacity: 1;
    transform: translate(
      var(--celebrator-off-left-x),
      var(--celebrator-center-y)
    );
  }
  50% {
    transform: translate(var(--celebrator-center-x), var(--celebrator-center-y))
      rotate(360deg);
  }
  100% {
    transform: translate(
        var(--celebrator-off-left-x),
        var(--celebrator-center-y)
      )
      rotate(0deg);
  }
}

@keyframes celebrate-top {
  0% {
    transform: translate(
        var(--celebrator-center-x),
        var(--celebrator-off-top-y)
      )
      rotateX(90deg);
  }
  40% {
    transform: translate(var(--celebrator-center-x), 50vh) rotateX(0deg);
  }
  60% {
    transform: translate(var(--celebrator-center-x), 50vh) rotateX(0deg);
  }
  100% {
    transform: translate(
        var(--celebrator-center-x),
        var(--celebrator-off-top-y)
      )
      rotateX(360deg);
  }
}

@keyframes celebrate-center {
  0% {
    opacity: 0;
    transform: translate(var(--celebrator-center-x), var(--celebrator-center-y))
      scale(0.1) rotate(0);
  }
  45% {
    opacity: 1;
    transform: translate(var(--celebrator-center-x), var(--celebrator-center-y))
      scale(1) rotate(1turn);
  }
  55% {
    opacity: 1;
    transform: translate(var(--celebrator-center-x), var(--celebrator-center-y))
      scale(1) rotate(1turn);
  }
  100% {
    opacity: 0;
    transform: translate(var(--celebrator-center-x), var(--celebrator-center-y))
      scale(0.1);
  }
}



.confetti {
  animation-name: confetti;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1, 0.535, 1, 1);
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  font-size: 1rem;
  position: absolute;
  top: 0;
}

.confetti.square div::before {
  content: '\f0c8';
  color: var(--primary-base);
}

.confetti.star div::before {
  content: '\f005';
  color: var(--secondary-base);
}

.confetti.heart div::before {
  content: '\f004';
  color: var(--primary-base);
}

@keyframes confetti {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(90vh);
    opacity: 0;
  }
}
