
.utils-dialog {
  background-color: var(--background-base);
  color: var(--background-contrast);
  display: flex;
  flex-direction: column;
  left: 50%;
  min-height: calc(var(--vh, 1vh) * 10);
  max-height: calc(var(--vh, 1vh) * 90);
  position: absolute;
  top: calc(var(--vh, 1vh) * 50);
  transform: translate(-50%, -50%);
  width: 90%;
  transition: opacity 0.5s;
}

.utils-dialog label {
  display: flex;
  flex-flow: row wrap;

  margin-top: var(--margin-thickness);
  user-select: none;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .utils-dialog label {
    flex-flow: column;
  }
}

.utils-dialog label:hover {
  background-color: var(--background-highlight);
}

.utils-dialog label span:first-child {
  margin-top: var(--margin-thickness);
  flex: 1 0 auto;
}

.utils-dialog label::after {
  content: var(--icon-warning);
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  visibility: hidden;
}

.utils-dialog-content-frame {
  display: flex;
  flex-flow: row wrap;
  max-height: calc(
    var(--vh, 1vh) * 80 - 2.4 * 1rem - 2 * var(--margin-thickness) - 6 *
      var(--padding-thickness)
  );
  overflow: auto;
}

.utils-dialog-content {
  flex: 1 1 auto;
  padding: var(--content-padding);
  overflow: auto;
}

.utils-dialog .utils-button-bar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: var(--padding-thickness);
}

.utils-dialog .utils-title-bar {
  background-color: var(--primary-base);
  color: var(--primary-contrast);
}

.utils-title-bar .utils-dialog-icon {
  display: inline-block;
  width: 1.5rem;
}

.utils-error {
  border: var(--line-thickness) solid var(--error-base);
}

.utils-error label::after {
  visibility: visible;
}

.utils-input-error-message {
  background-color: var(--error-base);
  color: var(--error-contrast);
  display: none;
}

.utils-error .utils-input-error-message {
  display: block;
}

.utils-separator {
  display: flex;
}

.utils-separator .utils-hr {
  flex: 1 0 auto;
  display: inline-block;
}


.utils-toast,
.utils-toast.selectable {
  background-color: var(--secondary-base);
  border: solid var(--secondary-highlight) 4px;
  border-radius: 4px;
  color: var(--secondary-contrast);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  left: 50vw;
  min-width: 30vw;
  outline-offset: calc(-2 * var(--line-thickness));
  outline-color: var(--secondary-contrast);
  padding: var(--padding-thickness);
  position: absolute;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: 2s;
}

.utils-palette {
  display: flex;
}

.utils-palette .utils-primary,
.utils-palette .utils-secondary,
.utils-palette .utils-tertiary {
  flex: 1;
  height: 1rem;
  min-width: 3rem;
}
.utils-palette .utils-primary {
  background-color: var(--primary-base);
}

.utils-palette .utils-secondary {
  background-color: var(--secondary-base);
}
.utils-palette .utils-tertiary {
  background-color: var(--tertiary-base);
}
