
:root {
  --celebrator-size: 4rem;
  --celebrator-center-x: calc(50vw - 50%);
  --celebrator-center-y: calc(50vh - 50%);
  --celebrator-off-left-x: calc(-1.5 * var(--celebrator-size));
  --celebrator-off-top-y: calc(-1.5 * var(--celebrator-size));
}
.celebrator {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-size: var(--celebrator-size);
  height: var(--celebrator-size);
  left: 0;
  line-height: var(--celebrator-size);
  overflow: visible;
  position: absolute;
  text-align: center;
  top: 0;
  width: var(--celebrator-size);
}

.celebrator.smiley-face {
  animation-name: slide-se-nw;
}

.celebrator.smiley-face::before {
  content: '\1f600';
}

.celebrator.sad-face {
  animation-name: slide-s-s;
}

.celebrator.sad-face::before {
  content: '\1f641';
}

@keyframes slide-se-nw {
  0% {
    opacity: 1;
    transform: translate(
      var(--celebrator-off-left-x),
      var(--celebrator-off-top-y)
    );
  }
  50% {
    transform: translate(var(--celebrator-center-x), var(--celebrator-center-y))
      rotate(360deg);
  }
  100% {
    transform: translate(
        var(--celebrator-off-left-x),
        var(--celebrator-off-top-y)
      )
      rotate(0deg);
  }
}

@keyframes slide-s-s {
  0% {
    transform: translate(
        var(--celebrator-center-x),
        var(--celebrator-off-top-y)
      )
      rotateX(90deg);
  }
  40% {
    transform: translate(var(--celebrator-center-x), 50vh) rotateX(0deg);
  }
  60% {
    transform: translate(var(--celebrator-center-x), 50vh) rotateX(0deg);
  }
  100% {
    transform: translate(
        var(--celebrator-center-x),
        var(--celebrator-off-top-y)
      )
      rotateX(360deg);
  }
}
