:root {
  --window-base: #ffffff;
}
body {
  background-color: var(--window-base);
  color: var(--window-contrast);
}

#content {
  display: flex;
  flex-flow: row wrap;
}

.primary,
.secondary,
.tertiary,
.background,
.error,
.window {
  width: 30vw;
  height: 30vw;
  text-align: center;
}

.primary {
  background-color: var(--primary-base);
  color: var(--primary-contrast);
}
.primary > .tint {
  height: 30%;
  background-color: var(--primary-tint);
}
.primary > .shade {
  height: 30%;
  background-color: var(--primary-shade);
}

.secondary {
  background-color: var(--secondary-base);
  color: var(--secondary-contrast);
}
.secondary > .tint {
  height: 30%;
  background-color: var(--secondary-tint);
}
.secondary > .shade {
  height: 30%;
  background-color: var(--secondary-shade);
}

.tertiary {
  background-color: var(--tertiary-base);
  color: var(--tertiary-contrast);
}
.tertiary > .tint {
  height: 30%;
  background-color: var(--tertiary-tint);
}
.tertiary > .shade {
  height: 30%;
  background-color: var(--tertiary-shade);
}

.background {
  background-color: var(--background-base);
  color: var(--background-contrast);
}
.background > .tint {
  height: 30%;
  background-color: var(--background-tint);
}
.background > .shade {
  height: 30%;
  background-color: var(--background-shade);
}

.error {
  background-color: var(--error-base);
  color: var(--error-contrast);
}
.error > .tint {
  height: 30%;
  background-color: var(--error-tint);
}
.error > .shade {
  height: 30%;
  background-color: var(--error-shade);
}

.window {
  background-color: var(--window-base);
  color: var(--window-contrast);
}
.window > .tint {
  height: 30%;
  background-color: var(--window-tint);
}
.window > .shade {
  height: 30%;
  background-color: var(--window-shade);
}
