@import './cards.css';
@import './candy.css';
@import './printable-lesson.css';

a.book,
a.chapter,
a.lesson,
a.lessonTitle,
a.problem {
  color: inherit;
  display: block;
  text-decoration: none;
}

.ProblemPresenter .problem-question img {
  display: block;
  max-width: 80%;
  margin: auto;
}

.ProblemPresenter .problem-question img.floatable {
  float: left;
  max-width: 50%;
  clear: left;
}

.LessonPresenter.Presenter .presentation {
  display: flex;
  flex-direction: column;
}

.LessonPresenter .lesson-summary {
  flex: 1;
  text-align: left;
}

.Presenter .button-bar {
  text-align: center;
}

.Presenter .presentation {
  overflow: hidden auto;
}

.SlideProblemPresenter.Presenter {
  background-color: var(--secondary-base);
}

.SlideProblemPresenter img {
  display: block;
  margin: auto;
}

.SlideProblemPresenter.Presenter .presentation {
  overflow: hidden;
}

.SlideProblemPresenter.Presenter .presentation .problem-question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HomePresenter .presentation {
  display: flex;
  flex-direction: column;
}
.HomePresenter .presentation button {
  flex: 1;
  text-align: left;
}

.problem-answers .problem-ordered-answers {
  flex-direction: row;
  justify-content: center;
}

.problem-question:has(.missing-word.align-column)
  + .problem-answers
  .problem-ordered-answers {
  align-items: center;
  flex-direction: column;
}

.problem-question:has(.missing-word.align-left)
  + .problem-answers
  .problem-ordered-answers {
  align-items: left;
  flex-direction: column;
}

.problem-answers > div {
  display: flex;
  flex-direction: column;
}

.ChoiceProblemPresenter button.problem-answer {
  flex: 1;
  text-align: left;
}

.problem-question {
  flex: 1;
}

.problem-question select,
.problem-answers select {
  background-color: var(--secondary-base);
  color: var(--secondary-contrast);
  outline-color: var(--secondary-highlight);
}

.problem-answer::before {
  width: 3rem;
}

.problem-answer::before,
.problem-answer::after {
  display: inline-block;
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  width: 1.5rem;
}

.problem-answer::before {
  content: var(--icon-unchecked-bullet);
}

.problem-answer.selected-answer {
  border-color: var(--tertiary-highlight);
  background-color: var(--tertiary-base);
  color: var(--tertiary-contrast);
}

.problem-answer.incorrect-answer p {
  text-decoration: line-through;
}

.problem-answer.selected-answer::before {
  content: var(--icon-checked-bullet);
}

.problem-answer.correct-answer::after {
  content: var(--icon-correct);
}

.problem-answer.incorrect-answer::after {
  content: var(--icon-incorrect);
}

.problem-answer.missed-answer::after {
  content: var(--icon-flagged);
}

.missing-word.correct-answer,
.missing-word.incorrect-answer {
  padding: 0 var(--padding-thickness) 0 var(--padding-thickness);
}

.missing-word.correct-answer .given-answer::after {
  content: var(--icon-correct);
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  margin-left: 0.2em;
}

.missing-word.correct-answer .expected-answer {
  display: none;
}

.missing-word.incorrect-answer {
  border: solid 1px;
  margin-right: 0.2em;
}

.missing-word.incorrect-answer .expected-answer::after {
  content: var(--icon-flagged);
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  margin-left: 0.2em;
}

.missing-word.incorrect-answer .given-answer-text {
  text-decoration: line-through;
}

.missing-word.incorrect-answer .given-answer::after {
  content: var(--icon-incorrect);
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  margin-left: 0.2em;
  margin-right: 0.2em;
}

/** List markers for presenter */
.ListPresenter .presentation {
  display: flex;
  flex-direction: column;
}

.ListPresenter .presentation button {
  flex: 1;
  text-align: left;
}

.ListPresenter .book::before {
  content: var(--icon-book);
  display: inline-block;
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  width: 1.5rem;
}

.ListPresenter .chapter::before {
  content: var(--icon-chapter);
  display: inline-block;
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  width: 1.5rem;
}

.ListPresenter .lesson::before {
  content: var(--icon-lesson);
  display: inline-block;
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  width: 1.5rem;
}

.ProblemPresenter .postamble {
  text-align: center;
}

/* markers for lesson navigation titles */
span.library-title,
span.book-title,
span.chapter-title,
span.lesson-title {
  margin-right: var(--margin-thickness);
}

.library-title::before,
.book-title::before,
.chapter-title::before,
.lesson-title::before {
  display: inline-block;
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  margin-right: 0.2em;
}

.library-title::before {
  content: var(--icon-library);
}
.book-title::before {
  content: var(--icon-book);
}
.chapter-title::before {
  content: var(--icon-chapter);
}
.lesson-title::before {
  content: var(--icon-lesson);
}

/* stage adjustments for styling */
ul.presentation,
.problem-answers ul {
  padding: 0;
}

#stage > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.presentation.expanded {
  display: flex;
  flex: 1;
}

.LessonEditorPresenter textarea {
  flex: 1;
  resize: none;
}

.LessonEditorPresenter .preamble {
  display: flex;
}

.LessonEditorPresenter .preamble .labeled-control-container {
  flex: 1;
}

.LessonEditorPresenter .preamble .labeled-control-container label {
  display: flex;
  align-items: baseline;
}

.LessonEditorPresenter .preamble span {
  margin-right: 1rem;
}
.LessonEditorPresenter .preamble input {
  flex: 1;
}

/* certificate styling */
.MarksPresenter .answer-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MarksPresenter .answer-summary div,
.MarksPresenter .answer-summary p,
.MarksPresenter .answer-summary table,
.MarksPresenter .answer-summary tr,
.MarksPresenter .answer-summary td,
.MarksPresenter .answer-summary h1,
.MarksPresenter .answer-summary h2,
.MarksPresenter .answer-summary h3,
.MarksPresenter .answer-summary h4,
.MarksPresenter .answer-summary h5,
.MarksPresenter .answer-summary h6 {
  display: inline;
  padding: 0px;
}

.MarksPresenter .removed-image::before,
.MarksPresenter .removed-iframe::before {
  content: var(--icon-image);
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
}

.MarksPresenter .answer-summary tr {
  border: none;
  margin-right: 0px;
  vertical-align: baseline;
}

.MarksPresenter .maths::before {
  content: '{';
}

.MarksPresenter .maths::after {
  content: '}';
}

.MarksPresenter .answer-summary .maths tr:first-child::after {
  content: '\00f7';
}

.MarksPresenter .answer-summary::before {
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  width: 1.5rem;
}

.MarksPresenter .answer-summary.correct::before {
  content: var(--icon-correct);
}

.MarksPresenter .answer-summary.incorrect::before {
  content: var(--icon-incorrect);
}

.MarksPresenter .answer-summary.skipped::before {
  content: var(--icon-skipped);
}

.MarksPresenter {
  margin: calc(2 * var(--margin-thickness));
  padding: var(--padding-thickness);
  border: double var(--line-thickness);
}

.MarksPresenter h1,
.MarksPresenter h2,
.MarksPresenter h3 {
  margin-top: var(--margin-thickness);
  text-align: center;
}

.MarksPresenter h1,
.MarksPresenter .result-summary {
  text-align: center;
}
.MarksPresenter .result-summary::after {
  font-size: 3em;
}
.MarksPresenter .result-summary.poor::after {
  content: '\1f62c';
}
.MarksPresenter .result-summary.bad::after {
  content: '\1f614';
}
.MarksPresenter .result-summary.good::after {
  content: '\1f948';
}
.MarksPresenter .result-summary.excellent::after {
  content: '\1f947';
}

.MarksPresenter .certificate-date {
  text-align: center;
}

/*
* icon sizing. The small, smaller and smallest classes are not particularly useful.
* The default is small.
*/
.giant {
  font-size: 1000%;
}
.massive {
  font-size: 800%;
}
.biggest {
  font-size: 600%;
}

.bigger {
  font-size: 400%;
}

.big {
  font-size: 200%;
}

/** attributions */
.attributions {
  text-align: left;
  overflow-wrap: break-word; /* for long urls */
}

@media print {
  .attributions {
    font-size: 0.6rem;
  }
}

.attribution-button-container {
  display: flex;
  justify-content: flex-end;
}
