button:not(.icon-only-button) {
  background-color: var(--primary-base);
  border: none;
  border-radius: var(--line-thickness);
  color: var(--primary-contrast);
  display: inline-block;
  font-size: 1rem;
  min-width: 4em;
  padding: var(--content-padding);
  margin: var(--margin);
  text-align: center;
  text-indent: 0em;
  transition: 0.2s;
}

button:not(.icon-only-button):hover,
button:not(.icon-only-button):focus {
  cursor: pointer;
}

button.utils-option {
  margin: var(--margin);
  border: none;
  border-radius: 0;
  background: var(--secondary-base);
  color: var(--secondary-contrast);
}

.icon-only-button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  height: 2.2rem;
  padding: 0px;
  margin: var(--margin);
  text-align: center;
  width: 2.2rem;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.utils-button-bar button {
  /* nothing */
}

.utils-dialog {
  background-color: var(--background-base);
  border: var(--panel-border) var(--primary-base);
  color: var(--background-contrast);
  left: 50%;
  min-height: 10vh;
  max-height: 90vh;
  overflow: auto;
  padding: 0px;
  position: absolute;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 90%;
  transition: opacity 0.5s;
  z-index: 40;
}

.utils-dialog label {
  display: flex;
  flex-flow: row wrap;

  margin-top: var(--margin);
  user-select: none;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .utils-dialog label {
    flex-flow: column;
  }
}

.utils-dialog label:hover {
  background-color: var(--background-highlight);
}

.utils-dialog label span:first-child {
  margin-top: var(--margin);
  flex: 1 0 auto;
}

.utils-dialog label::after {
  content: '\f071';
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  visibility: hidden;
}

.utils-dialog-content-frame {
  display: flex;
  flex-flow: row wrap;
}

.utils-dialog-content-frame .utils-dialog-icon {
  flex: 0;
  float: left;
  font-size: 2em;
  padding: 4px 4px 4px;
}
.utils-dialog-content {
  flex: 1 1 auto;
  padding: var(--content-padding);
}

.utils-dialog .utils-button-bar {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 4px;
}

.utils-menu {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.utils-menu-icon-close {
  position: absolute;
  right: 0;
  top: 0;
}

.utils-menu-content {
  background-color: var(--secondary-base);
  border: solid var(--secondary-highlight);
  border-width: 0 2px 0 0;
  color: var(--secondary-contrast);
  height: 100vh;
  left: 0px;
  min-width: 3em;
  overflow-x: hidden;
  padding: 3em var(--content-padding) var(--content-padding)
    var(--content-padding);
  position: absolute;
  top: 0px;
  transition: transform 1s;
  transform: translateX(-100%);
  z-index: 20;
}

.utils-menu-item {
  cursor: pointer;
}

.utils-menu-item:hover {
  background-color: var(--secondary-highlight);
}

.utils-palette {
  display: flex;
  justify-content: center;
  width: 100%;
}
.utils-palette span {
  flex: 1, 1, auto;
  display: inline-block;
  margin: var(--line-thickness);
  height: 1em;
  width: 30%;
}

.utils-palette span.utils-primary {
  background-color: var(--primary-base);
  color: var(--primary-contrast);
}
.utils-palette span.utils-secondary {
  background-color: var(--secondary-base);
  color: var(--secondary-contrast);
}
.utils-palette span.utils-tertiary {
  background-color: var(--tertiary-base);
  color: var(--tertiary-contrast);
}

.utils-title-bar {
  background-color: var(--primary-base);
  color: var(--primary-contrast);
  overflow: hidden;
  padding: var(--content-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.utils-toast {
  background-color: var(--secondary-base);
  border: solid var(--secondary-highlight) 4px;
  border-radius: 4px;
  color: var(--secondary-contrast);
  cursor: pointer;
  left: 50vw;
  min-width: 30vw;
  padding: 8px;
  position: absolute;
  top: 100vh;
  transform: translateX(-50%);
  transition: 2s;
  z-index: 50;
}

.utils-toast::after {
  content: '\f057';
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
  position: absolute;
  right: 0px;
  top: 0px;
}

#utils-window-mask {
  background-color: var(--window-base);
  height: 100%;
  left: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 10;
  transition: 1s;
}

input,
.utils-custom-select,
.utils-slider-container {
  flex: 0 0 auto;
  margin: var(--margin);
}

button {
  outline-offset: var(--outline-offset);
  outline-color: var(--primary-highlight);
  outline-width: var(--line-thickness);
}

input,
.utils-slider {
  outline-offset: 0;
  outline-color: var(--primary-highlight);
  outline-width: var(--line-thickness);
}

button:hover {
  outline-style: dotted;
}

button:focus {
  outline-style: dashed;
}

button:hover:focus {
  outline-style: solid;
}

input:hover,
input.range:hover,
.utils-slider:hover {
  outline-style: dotted;
}

input:focus,
input.range:focus,
.utils-slider:focus {
  outline-style: dashed;
}

input:hover:focus,
input.range:hover:focus,
.utils-slider:hover:focus {
  outline-style: solid;
}

button.utils-option:hover {
  background: var(--secondary-base);
  color: var(--secondary-contrast);
  outline-color: var(--secondary-contrast);
}

button.utils-option:focus {
  background: var(--primary-base);
  color: var(--primary-contrast);
  outline-color: var(--primary-base);
}

button.utils-option:hover,
button.utils-option:focus,
button.utils-option:hover:focus {
  outline-offset: var(--outline-offset);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: var(--primary-contrast);
  outline-style: none;
  cursor: pointer;
  height: 2em;
  width: 10rem;
}

input[type='range']::-webkit-slider-runnable-track {
  background: var(--primary-highlight);
  border-radius: 0.25rem;
  height: 0.4rem;
}

input[type='range']::-moz-range-track {
  background: var(--primary-highlight);
  border-radius: 0.25rem;
  height: 0.5rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primary-base);
  border-radius: 0.75rem;
  height: 1.5rem;
  margin-top: -0.5rem;
  width: 1.5rem;
}

input[type='range']::-moz-range-thumb {
  background-color: var(--primary-base);
  border: none;
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  transition: 0.2s;
}

.utils-range-value {
  background-color: var(--background-base);
  border: solid 4px var(--primary-base);
  border-radius: 4px;
  color: var(--background-contrast);
  padding: 4px;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  z-index: 5;
}

input[type='checkbox'].toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type='text'] {
  font-size: 1rem;
}

.utils-error {
  border: 2px solid var(--error-base);
}

.utils-error label::after {
  visibility: visible;
}

.utils-input-error-message {
  color: var(--error-base);
  display: none;
}

.utils-error .utils-input-error-message {
  color: var(--error-base);
  display: block;
}

.utils-slider-container {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
}
.utils-slider {
  background-color: var(--primary-base);
  display: inline-block;
  height: 1.5rem;
  width: 3.5rem;
  filter: grayscale(100%);
  border-radius: 0.75rem;
  opacity: 1;
}

.utils-slider::before {
  background-color: var(--primary-contrast);
  border: 0.25rem solid var(--primary-base);
  border-radius: 50%;
  content: '';
  filter: grayscale(100%);
  opacity: 1;
  height: 1.5rem;
  margin-left: -0rem;
  position: absolute;
  transition: 0.2s;
  width: 1.5rem;
}

.utils-slider:hover {
  cursor: pointer;
}

input:checked + .utils-slider {
  filter: grayscale(0%);
  opacity: 1;
}
input:checked + .utils-slider:before {
  filter: grayscale(0%);
  margin-left: 2rem;
  opacity: 1;
}

.utils-separator {
  display: flex;
}

.utils-separator .utils-hr {
  flex: 1 0 auto;
  display: inline-block;
}

.utils-select {
  font-size: inherit;
  height: 2em;
}

.utils-custom-select {
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
}

.utils-custom-select .utils-selection::after {
  content: ' \f0d7';
  font-family: var(--icon-font-family);
  font-weight: var(--icon-font-weight);
}

.utils-custom-select[data-open] .utils-selection::after {
  content: ' \f0d8';
}

.utils-options {
  background: var(--secondary-base);
  color: var(--secondary-contrast);
  display: none;
  left: 0;
  padding: var(--line-thickness);
  position: absolute;
  top: 0;
  z-index: 80;
}

.utils-options[data-open] {
  display: flex;
  flex-flow: column wrap;
  margin: var(--margin);
}
